{% extends 'org-base.html' %}
{% block title %}机构课程 -  慕学在线网{% endblock %}
{% block css %}{% endblock %}
{% block bread %}
	<ul  class="crumbs">
		<li><a href="{% url 'users:index' %}">首页</a>></li>
		<li><a href="{% url 'organizations:orgs' %}">课程机构</a>></li>
		<li>机构首页</li>
	</ul>
{% endblock %}
{% block content_right %}
	<div class="right companycenter layout" >
        <div class="head">
            <h1>机构介绍</h1>
        </div>
        <div class="des">
            
            <p>&nbsp; &nbsp;{{ org.desc }}</p>
            
        </div>
    </div>
{% endblock %}
{% block js %}{% endblock %}
